<taglib uri="http://tiles.apache.org/tags-tiles" prefix="tiles">
<!DOCTYPE html>
<html lang="ko">
<head>


<meta charset="UTF-8"/>
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<title>Jenga! 지식을 쌓고 빼고 즐기세요.</title>

<head th:replace="component/headResources"/>
<!--<tiles:insertAttribute name="headResources"/>-->

</head>
<body>
    <header th:replace="component/header :: headerFragment"/>
    <div layout:fragment="content" />
    <footer th:replace="component/footer :: footerFragment"/>

<!--<tiles:insertAttribute name="navbar"/>-->
<!--<tiles:insertAttribute name="content" />-->
<!--<tiles:insertAttribute name="footer"/>-->

</body>

  <footer th:replace="component/footer:: footerFragment"></footer>
<!--<tiles:insertAttribute name="footResources"/>-->

</html>