<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>

  <th:include page="@{static-resource/jsFiles/importJS.jsp}"></th:include>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" th:href="@{/static-resource/assets/img/apple-icon.png}">
  <link rel="icon" type="image/png" th:href="@{/static-resource/assets/img/favicon.png}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Jenga!
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link th:href="@{/static-resource/assets/css/bootstrap.min.css}" rel="stylesheet" />
  <link th:href="@{/static-resource/assets/css/paper-kit.css}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link th:href="@{/static-resource/assets/demo/demo.css}" rel="stylesheet" />
</head>
<body>

<div class="container">

	<div class="row">
		<div class="col-sm-12 col-md-6" style="background-color : #00FF40">
		<div class="h4">Hello World!</div>
		</div>
		
		<div class="col-sm-12 col-md-6" style="background-color : #FF0000">
		<div class="h4">Hello World!</div>
		</div>
		
	
	</div>

</div>




</body>


</html>