<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
  <!--<typeAliases>-->
	  <!--<package name="com.jenga.yujun.board.dto"/>-->
	  <!--<package name="com.jenga.yujun.member.dto"/>-->
  <!--</typeAliases>-->

	<typeHandlers>
		<typeHandler handler="com.jenga.yujun.board.util.CustomDateHandler" javaType="java.util.Date" jdbcType="DATE"/>
	</typeHandlers>


</configuration>

